/* Method: set font size and text color of elements */
$twelve: 12px;
$green: #00FF00;
$red: #FF0000;

.info {
  font-size: $twelve;
}

.success {
  @extend .info;
  color: $green;
}

.warning {
  @extend .info;
  color: $red;
}